.smallForm{
   position: relative;
	width:400px;
   margin: 0 auto;
}
.smallFormFloat{
   right:20px;
   top:60px;
   position:absolute;
	width:400px;
   margin: 0 auto;
   background:rgba(255,255,255,.65);
   z-index:1;
}
.success{
   text-align:right;
	font-family: 'Roboto Slab', serif;
   font-size:20px
}
.form-error{
   background:lightcoral;
   padding: 5px;
   margin: 5px;
}
.has-error{
   color:red;
}
.error{
   background:lightcoral;
}
.help-block{
   display:block;
   font-size:10px;
   color:black;
   margin-right:0;
   margin-bottom: 2px;
   background:white;
}
.valid{
   background:lightgreen;
   border-color:lightgreen;
}


#athlete_profile{
	width:400px;
   padding-top: 50px;
   padding-bottom: 50px;
   margin-left: auto ;
   margin-right: auto ;
} 
.athlete_profile{
	width:400px;
   padding-top: 50px;
   padding-bottom: 50px;
   margin-left: auto ;
   margin-right: auto ;
}
.padding{
   padding-left:50px;
}
#success{
   padding-left:50px;
   text-align:center;
}

.workout{
	width:300px;
   padding-top: 50px;
   padding-bottom: 50px;
   display:inline-block;
}

div.pure-control-group label{
   text-align:right;
   display: inline-block;
   padding-bottom:5px

}
.submitCopy{
   cursor:pointer;
   text-align:center;
   height:29;
   width:100px;
   background:#F1632A;
	font-family: 'Roboto Slab', serif;
   font-size:16px;
   margin-right:5px;
   margin-top:15px;
   padding-top:5px;
   padding-bottom:3px;
   display:inline-block;
   color:white;
}
.submit-button{
   display:inline-block;
   margin-left:auto;
   margin-right:5px;
	font-family: 'Roboto Slab', serif;
   font-size:16px;
   background:#F1632A;
   border-style:none;
   margin-top:15px;
   color:white;
}
.submit-control{
   text-align:right;
}
.pure-control-group{
   text-align:right;
}
.radio-control input{
   float:left;
   margin-top:4px;
}
.radio-control{
   text-align:left;
}
.radio-control label{
   margin-left:25px;
}
.top-padding{
   padding-top:5px;
   padding-bottom:5px;
}

label{
	font-family: 'Roboto Slab', serif;
   margin-right:25px;
   text-align: right;
   
}
input{
	font-family: 'Roboto Slab', serif;
   float:right;
   margin:0;
   padding-top:5px;
}
fieldset{
   border-color:#e4e4e4;
   border-style:solid;
   box-shadow: 10px,10px, 5px,red;
   padding-top: .5em;
}

legend{
   
   border-color:red;
	font-family: 'Roboto Slab', serif;
   font-size: 18px;
}
form{
	font-family: 'Roboto Slab', serif;
}

#login_form{
   margin: 0 auto;
   margin-top: 40px;
   width: 400px;
	background-color:white;
	height:600px;
	
}
#login_form_center{
   width:400px;
}
#login_error{
   width:400px;
   margin:0 auto;
}
.error-php{
   color:red;
	font-family: 'Roboto Slab', serif;
}
#newUser{
   padding-top: 20px;
   width:400px;
   margin: 0 auto;
}
#new{
   background-color:#F1632A;
}
