img{
   width:100%;
}
.blogTitle{
	color: black;
	background-color: white;
	margin-top:60px;
   text-align:left;
   text-decoration:underline;
   margin-left:50px;
	}
.blogContent{

	font-family: 'Roboto Slab', serif;
   font-size: 18px;
   border-style:solid;
   border-width:2px;
   border-color:#e4e4e4;
   padding-top:20px;
   padding-left:20px;
   padding-right:20px;
   padding-bottom:40px;
}
body{

	margin:0px;
	padding:0px;
	height:100%;
	background-color:#82827E;
	height:100%;
}
div {
	display:block;
}
#container{
	margin:0px;
	padding:0px;
	height:100%;
	min-height:100%;
}

#navH{
	background-color:black;
	position:relative;
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:auto;
	height:auto;

}
#signout{
   display:inline;
   float:right;
   padding-right: 30px;
   padding-top: 5px;
	background-color:#09347A;
}

#location > h1 {
   display:inline;
	font-weight: 300;
}
#location  {
	background-color:#09347A;
	position:relative;
	padding:0;
	margin:0;
	height: 40px;
   text-align:center;
}
#body{
	background-color:white;
margin:0;
padding:0;
}
#logo{
	height:40px;
	width:40px;
	padding:5px;
	border-radius:15px;

}
#nav{

	position: absolute;
	top:0px;
	right:2px;
	padding:10px;
	
}
#footer{
	position:relative;
	bottom:0;
	height:40px;
	background-color:white;
	width:100%;
	text-align: center;
	font-size: 12px;
	
	border-top:solid 3px;
	border-color:black;
}
#footer>ul{
	padding:10px;
}
#footer> ul> li  {
	color:black;
	border-left: solid 1px #758190;
	padding: 0 15px;
	letter-spacing:1px;
}
#footer> ul> li>a{
	color:black;
}
#footer >ul> li.first {
	border-left:none;
}

h1{
	
	font-family: 'Roboto Slab', serif;
	color:white;
	padding:0;
	margin:0;
	text-align:center;
}
h3{
	
	font-family: 'Roboto Slab', serif;
	color:white;
	padding:0;
	margin:0;
	text-align:center;
}


/*
 *
 *
 * Blue hex 09347A
 * Orange Hex F1632A
 */

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;

	font-family: 'Roboto Slab', serif;
}
li
{  
	display: inline;
	font-family: 'Roboto Slab', serif;
	text-decoration:none;
}
a{
	text-decoration:none;
}
#navUl> li {
   display:inline;
}
#nav > ul > li> a:link,a:visited
{
	float:left;
	display:block;
	width:120px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400; 
	font-size:large;
	letter-spacing:1px;
	color:#FFFFFF;
	background-color:black ;
	text-align:center;
	margin: 8px;
	text-decoration:none;
	padding-bottom: 12px;
}
#nav > ul> li >a:hover,a:active
{
	color:gray;
}

 h1.bigButton{
	background-color:#F1632A;
}
.pgsize{
	background-color:white;
	height:600px;

}
	
