#sideMenu{
	float:left;
	background: white;
	width: 15%;
	border-right-width:3px;
	border-bottom-width:3px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-right-color:#F1632A;
	border-bottom-color:#F1632A;
}
#sideMenu >h1{
	background:#F1632A;
}
#sideMenu >ul>li>a{
	color:black;
	list-style:none;
   text-decoration:underline;
   padding-left:10px;
}
#sideMenu> ul>li{
	display:block;
   padding-top: 10px;
   font-size: 14px;
}
/*
 *
 *
 * Blue hex 09347A
 * Orange Hex F1632A
 */


#blogContent{
	float:right;
	top:0;
	right:0;
	width:84.5%;
	height :600px;
	background-color: white;
}
p.blogContent{
   margin-left: 50px;
   margin-right: 200px;
   }
#clear{
	clear:both;
}
