#hawaii{
	width: 100%;
	height:300px;
	margin:0px;
	padding:0px;
}
#splash{
	margin:0px;
	padding:0px;
	height:300px;
}
#ThreeBox{
	position:relative;
	height:300px;
}
#box{
	width:33.1%;
	background-color:white;
	font-color:black;
	float:left;
	min-height:100%;
}
#box >p{
	color:#5C5C5C;
	padding-left: 12px;
	padding-right: 12px;
	font-family:Verdana, Verdana, Geneva, sans-serif;
}
#box >h1{
	background-color:#09347A;
}
#box.center >h1{
	background-color:#F1632A;
}
#box.center {
	border-left-width:3px;
	border-right-width:3px;
	border-right-style:solid;
	border-left-style:solid;
	border-right-color:#F1632A;
	border-left-color:#F1632A;
/*
 *
 *
 * Blue hex 09347A
 * Orange Hex F1632A
 */

