#login_form{
   position:absolute;
   width:200px;
   height:100px;

   margin:auto;
   left:0;
   right:0;
   top:50%;
   margin-top:-50px;
}

fieldset{
   border-color:#e4e4e4;
   background:rgba(0, 0, 0, 0.66);
   border-style:solid;
   border-width:3px;
   color:gainsboro;
   border-radius:15px;
	font-family: 'Roboto Slab', serif;
}

legend{
   font-size:25px;
   color:gainsboro;
	font-family: 'Roboto Slab', serif;
}
body{
   background: -webkit-radial-gradient(center, ellipse cover, rgba(0,69,173,0.69) 0%,rgba(0,0,0,0.82) 90%),
   url('black-mosaic-tiles-1510.png') repeat;
}
 .lightgrey{
	font-family: 'Roboto Slab', serif;
    background:rgba(255, 255, 255, 0.86);
    border-style:solid;
    border-color:gainsboro;
    border-radius: 5px;
    font-size:20px;
    width:100%;
 }
input{

	font-family: 'Roboto Slab', serif;
   float:right;
}
#token{
   display:block;
   text-align:center;
   font-size:20px;
}
.center{
   display:block;
   margin-right:auto;
   margin-left:auto;
	font-family: 'Roboto Slab', serif;
   width:100%;
   font-size:20px;
   background:gainsboro;
   border-radius:5px;
   margin-top:15px;
   border-style:none;
   color-:rgb(0, 16, 58);

}
pre{
   padding-left:30px;
   padding-right:30px;
   font-size:14px;
}
code{
   border-style:solid;
   border-color:black;
   background-color:rgb(203, 252, 175);
   border-top-left-radius:10px;
   border-bottom-right-radius:10px;
}
  
}


